{% extends 'base.html' %}

{%block 'title'%}
CRUDCourses - Login
{% endblock %}

{% block 'body' %}
<div class="container">
        <br>

        {% if status == '1'%}  
        <div class="alert alert-danger" role="alert">
              This user doesn't exists!
        </div>
        {%endif%}
        {% if status == '2'%}  
        <div class="alert alert-danger" role="alert">
              You must be logged
        </div>
        {%endif%}
    
  <div class="row">
      <div class="col-md-3">

      </div>
      <div class="col-md">
          <br>
          <h1>Login</h1>
          <hr>
          <form method="POST" action="{% url 'check_login' %}">{% csrf_token %}
              <label>Email:</label>
              <input class="form-control" type="text" placeholder="E-mail" name = "email">
              <br>
              <label>Password:</label>
              <input class="form-control" type="password" placeholder="Password" name = "password">
              <br>
              <input class="btn btn-success btn-lg" type="submit" value="Submit">
              <a href="#" class="btn btn-info btn-lg">Register</a>
          </form>
      </div>
      <div class="col-md-3">

      </div>
  </div>

</div>
{% endblock %}
